<!doctype html>
<html lang="es">

<head>
	<meta charset="utf-8">
	<title>Prueba</title>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
	<link rel="stylesheet" href="/public/css/lib/reveal.css">
	<link rel="stylesheet" href="/public/css/lib/theme/solarized.css" id="theme">
	<link rel="stylesheet" href="/public/css/styles.css">
	<link rel="stylesheet" href="/public/css/fonts.css">
</head>
<body>
	<div class="reveal">
		<div class="slides" style="width:100%">
			<section>
				<p>Pincha los globos</p>
				<p>
					Pincha todo los globos!, tienes n oportunidades, cada pinchazo erroneo restara una oportunidad
				</p>
				<object data="/public/pruebas/globos.html" type="text/html" id="juego"></object>
			</section>
			<section>
				<p>Ayuda a escoger las herramientas para realizar la tarea</p>
				<p>
					Arrastra los iconos de las tecnologias que te pueden ayudar a resolver una tarea.
				</p>
				<object data="/public/pruebas/asociacionMaterias.html" type="text/html" id="juego"></object>
			</section>
			<!--
			<section>
				<p>Ayuda a escoger las herramientas para realizar la tarea</p>
				<p>
					Arrastra los iconos de las tecnologias que te pueden ayudar a resolver una tarea.
				</p>
				<object data="/public/pruebas/asociacionIngles.html" type="text/html" id="juego"></object>
			</section>-->
		</div>
	</div>
	<script src="/public/js/lib/reveal.js"></script>

	<script>
		Reveal.initialize({
			controls: true,
			progress: true,
			history: true,
			center: true,

				transition: 'convex', // none/fade/slide/convex/concave/zoom
			});
	</script>
</body>
</html>
