<!doctype html>
<html lang="es">

<head>
	<meta charset="utf-8">
	<title>Prueba</title>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="/public/css/lib/reveal.css">
	<link rel="stylesheet" href="/public/css/styles.css">
	<link rel="stylesheet" href="/public/css/lib/theme/solarized.css" id="theme">

</head>
<body>
	<script src="/public/js/main.js"></script>

	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">

					<h4 class="modal-title" id="myModalLabel">Resultados</h4>
				</div>
				<div class="modal-body">
					...
				</div>
				<div class="modal-footer">
					<button type="button" class=" btn btn-danger" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">Salir</span></button>
				</div>
			</div>
		</div>
	</div>

	<div class="reveal">

		<div class="slides" style="width:100%">

			{% for prueba in pruebas %}

			{% if forloop %}<section>{% endif %}

			<section>
				<p>{{prueba.detaPregunta}}</p>
				<iframe src="{{prueba.urlArchivo}}" name="{{prueba.idPregrunta}}" type="text/html" ></iframe>
			</section>

			{% if forloop %}
			<section>
				<button class='btn btnConfirmar' data-toggle="modal" data-target="#myModal">Verificar</button>
			</section>
			{% endif %}

			{% if forloop %}</section>{% endif %}

			{% endfor %}

		</div>
	</div>
	<script src="/public/js/lib/reveal.js"></script>

	<script>
		Reveal.initialize({
			controls: true,
			progress: true,
			history: true,
			center: true,

				transition: 'convex', // none/fade/slide/convex/concave/zoom
			});
	</script>
</body>
</html>
