.backgroundImage
	align-items center
	background-attachment fixed
	background-image url('/public/img/fondo.jpg')
	background-size cover
	display flex
	flex-wrap wrap
	justify-content center
	min-height 500px
	header
		font-size 1.3rem
		margin 0 auto
		text-align center
		width 90%


