.competencias
	flex-wrap nowrap
	.competencia
		border 1px solid rgba(0,0,0,.1)
		margin 0px 5px
		padding 5px
		border-radius 5px
		z-index 1
		&:last-child
			background-color #B0C2DA
		&:first-child
			background-color #FFD9CA
.descCompetencias
	z-index 2
	transform translateY(20px)
	article
		z-index 2
		border 1px solid rgba(0,0,0,.4)
		background-color rgba(0,0,0,.1)
		padding 5px
		border-radius 5px
		display inline-block
		margin 0 auto

.backgroundImage
	align-items center
	background-attachment fixed
	background-image url('/public/img/fondo.jpg')
	background-size cover
	display flex
	flex-wrap wrap
	justify-content center
	min-height 500px
	header
		margin 0 auto
		text-align center
		width 90%
