@import "OOCSS.styl"
@import "inicio.styl"
@import "pruebas/asosciaionMaterias.styl"
@import "pruebas/globos.styl"

@import url(https://fonts.googleapis.com/css?family=Lato)

html
	height 100%
body
	margin 0
	user-select none

.totalbody
	display flex
	height 100%
	flex-wrap wrap

ul
	padding 0
	margin 0

.linkWithoutDecoration
	text-decoration none

.contentWidth
	max-width 1000px
	margin 0 auto
	padding 0 10px
	min-height calc(100% - 112px)
.logostzef
	font-weight bold
	.stzef
		color #1EAC44

.logoPruebaTIC
	display block
	margin 10px 0
	font-weight bold
	font-size 1.5rem
	color black

nav
	align-self flex-start
	width 100%
	background-color white
	padding 10px 0
	display flex
	justify-content space-between
	border-bottom 3px solid gray
	ul
		display flex
		justify-content space-around
		max-width 50%
		li
			list-style none
			margin 0 10px
			a
				text-decoration none
				color white
button
	a
		text-decoration none
		color white

footer
	align-self flex-end
	width 100%
	background-color white
	padding 10px 0
	border-top 3px solid gray



body
	height 100%
	font-size 16px
	font-family 'Lato', sans-serif
	margin 0

object
	width 100%
	height 700px



.centradoTotal
	display flex
	justify-content center
	align-items center
	flex-wrap wrap

.heightCienPorCiento
	height 100%

.widthCienPorCiento
	width 100%

.formularioIdentificacion
	color white

.fondoFormularioIdentificacion
	background-image url("../media/img/fondoFormularioIdentificacion3.jpg")
	-webkit-filter blur(3px) opacity(.8)
	filter blur(3px) opacity(.8)
	top0
	left 0
.fondoSeccionPrincipal
	background-attachment fixed
	//background-image url("media/img/fondoFormularioIdentificacion1.jpg")
	background-color #D47A6A
	height 500px
	h1
		font-size 3em
	p
		font-size 1.5em

.fondoSeccion
	font-size 1.5em
	background-position center
	background-size cover
	background-repeat no-repeat

.positionAbsolute
	position absolute

.positionRelative
	position relative

