@import "inicio.styl"
body
	margin 0

ul
	padding 0
	margin 0

.contentWidth
	max-width 1000px
	margin 0 auto
	padding 0 10px

nav
	background-color gray
	padding 10px 0
	display flex
	justify-content space-between
	ul
		display flex
		justify-content space-around
		max-width 50%
		li
			list-style none
			margin 0 10px
footer
	background-color gray
	padding 10px 0
