{% extends "template.html" %}

{% block title %}
Competencias
{% endblock title %}

{% block content %}
<section >
	<header>

		<h1 class="textCenter">Competencias  en TIC</h1>
		<section class="columnas competencias">
			<article class="columnas-2 competencia">
				<h2 class="textCenter">Apropiación y uso de la tecnología</h2>
				<p>Se trata de la utilización adecuada, pertinente y crítica de la tecnología (artefactos, productos, procesos y sistemas) con el fin de optimizar, aumentar la productividad, facilitar la realización de diferentes tareas y potenciar los procesos de aprendizaje, entre otros.</p>
				<button class="centerMargin btn btnConfirmar"><a href="{% url 'prueba' "apropiacion" %}">Ir a</a></button>
			</article>

			<article class="columnas-2 competencia">
				<h2 class="textCenter">Solución de problemas con tecnología</h2>
				<p>Se refiere al manejo de estrategias en y para la identificación, formulación y solución de problemas con tecnología, así como para la jerarquización y comunicación de ideas. Comprende estrategias que van desde la detección de fallas y necesidades, hasta llegar al diseño y a su evaluación. Utiliza niveles crecientes de complejidad según el grupo de grados de que se trate.</p>
				<button class="centerMargin btn btnConfirmar"><a href="{% url 'prueba' "solucion" %}">Ir a</a></button>
			</article>
		</section>
	</header>
</section>

{% endblock  %}
