{% extends "template.html" %}

{% block title %}
Inicio
{% endblock title %}

{% block contentSpecial %}
<section class="backgroundImage">
	<header>

		<h1>bienvenidos</h1>
		<p>Lorem ipsum dolor  amet, consectetur adipisicing elit. Excepturi officia , at minima. Facere totam eum a, nulla numquam beatae quia ut ea tenetur, officiis, temporibus accusamus nihil minus adipisci?</p>
		<button class="centerMargin btn btnConfirmar"><a href="{% url 'competencias' %}">Pruebas</a></button>
	</header>
</section>

{% endblock  %}
{% block content %}
<section>
	<header>
		<h1>Lorem</h1>
	</header>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis error quia cupiditate reprehenderit odit, laboriosam nesciunt autem pariatur quibusdam, amet sequi blanditiis, adipisci dolorum eveniet vero ex, id nam consequatur?</p>
</section>

{% endblock  %}
