{% extends "template.html" %}

{% block title %}
Inicio
{% endblock title %}

{% block contentSpecial %}
<section class="backgroundImage">
	<header>

		<h1>bienvenidos</h1>
		<p>Lorem ipsum dolor  amet, consectetur adipisicing elit. Excepturi officia , at minima. Facere totam eum a, nulla numquam beatae quia ut ea tenetur, officiis, temporibus accusamus nihil minus adipisci?</p>
		<button class="centerMargin btn btnConfirmar"><a href="{% url 'competencias' %}">Pruebas</a></button>
	</header>
</section>

{% endblock  %}
{% block content %}
{% endblock  %}
