{% extends "template.html" %}

{% block title %}
Inicio
{% endblock title %}

{% block contentSpecial %}
<section class="backgroundImage">
	<header>

		<h1>Bienvenidos</h1>
		<p>Como actividad humana, la tecnología busca resolver problemas y satisfacer necesidades individuales y sociales, transformando el entorno y la naturaleza mediante la utilización racional, crítica y creativa de recursos y conocimientos. Según afirma el National Research Council, la mayoría de la gente suele asociar la tecnología simplemente con artefactos como computadores y software, aviones, por mencionar unos pocos ejemplos. Sin embargo, la tecnología es mucho más que sus productos tangibles.</p>
		<button class="centerMargin btn btnConfirmar"><a href="{% url 'competencias' %}">Pruebas</a></button>
	</header>
</section>

{% endblock  %}
{% block content %}
{% endblock  %}
