{% extends "template.html" %}
{%block content%}
<div class="alert ">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	<p></p>
</div>
<form class="form-horizontal" method="POST" id="registration">
	{% csrf_token %}
	<div class="form-group col-md-6">
		<label>Apellidos:</label>
		{% if form.lastname.errors %}
		{{ form.lastname.errors }}
		{% endif%}
		{{  form.lastname }}
	</div>
	<div class="form-group col-md-6">
		<label>Usuario:</label>
		{% if form.username.errors %}
		{{ form.username.errors }}
		{% endif%}
		{{  form.username }}
	</div>
	<div class="form-group col-md-6">
		<label>Correo Electrónico:</label>
		{% if form.email.errors %}
		{{ form.email.errors }}
		{% endif%}
		{{  form.email }}
	</div>
	<div class="form-group col-md-6">
		<label>Contraseña:</label>
		{{  form.password }}
	</div>
	<div class="form-group col-md-6">
		<label>Confirme la Contraseña:</label>
		{{  form.password_confirm }}
		<div class="notify"></div>
	</div>
	<div class="form-group col-md-6">
		<label>Fecha Nacimiento:</label>
		{% if form.fNaci.errors %}
		{{ form.fNaci.errors }}
		{% endif%}
		{{  form.fNaci }}
	</div>
	<div class="form-group col-md-6">
		<label>Sexo:</label>
		{{  form.residencia }}
	</div>
	<input class="btn btn-success btn-lg btn-block" type="submit" id="submit" value="Registrarme">
	<a href="{% url 'inicio' %}" class="btn btn-danger btn-lg btn-block">Cancelar</a>

</form>
<!--
<form action="" class="form-horizontal" id="registration">
	<legend>Registrate</legend>
	<div class="form-group">
		<label for="" class="col-sm-4 control-label">Usuario</label>
		<div class="col-sm-7">
			<input type="text" class="form-control" name="usuario" id="" placeholder="Usuario">
		</div>
	</div>
	<div class="form-group">
		<label for="" class="col-sm-4 control-label">Nombre</label>
		<div class="col-sm-7">
			<input type="text" class="form-control" name="nombre" id="" placeholder="Nombre">
		</div>
	</div>
	<div class="form-group">
		<label for="" class="col-sm-4 control-label">Apellido</label>
		<div class="col-sm-7">
			<input type="text" class="form-control" name="apellido" id="" placeholder="Apellido">
		</div>
	</div>
	<div class="form-group">
		<label for="" class="col-sm-4 control-label">Contraseña</label>
		<div class="col-sm-7">
			<input type="password" class="form-control" name="password" id="" placeholder="Password">
		</div>
	</div>
	<div class="form-group">
		<label for="confirmPassword" class="col-sm-4 control-label">Confirmar Contraseña</label>
		<div class="col-sm-7">
			<input type="password" class="form-control" name="confirmPassword" id="" placeholder="Password">
		</div>
	</div>
	<div class="form-group">
		<label for="" class="col-sm-4 control-label">Email</label>
		<div class="col-sm-7">
			<input type="email" class="form-control" name="email" id="" placeholder="Email">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-7">
			<button type="submit" class="btn btn-success">Registrarse</button>
		</div>
	</div>
</form>
-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script>
	var form = document.querySelector("#registration")
	/*form.addEventListener("submit", register)
	function register(event){
		event.preventDefault()
		if (form.password.value == form.confirmPassword.value) {

			$.ajax({
				url: "/registerNewUser/",
				type:"POST",
				async: false,
				contentType: 'application/x-www-form-urlencoded',
				data:$('form').serialize(),
				dataType: 'text',
				success: function(result){
					response = JSON.parse(result)
					if (response.code == 1){
						$(".alert").addClass("alert-success")
						$(".alert > p").html(response.message)
						setTimeout(function(){
							window.location.href = "/login"

						}, 2000)
}else if (response.code == 0) {
	$(".alert").addClass("alert-danger")
	$(".alert > p").html(response.message)
}

}
});
}else{
	console.log("contraseñas erroneas contaseña")
}

}*/
</script>
{%endblock%}
