<!DOCTYPE html>
<html lang="es" class="heightCienPorCien">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
	<link rel="stylesheet" href="/public/min/css/styles.css">
	<title>
		{% block title %}{% endblock title %}
	</title>


</head>

<body class="totalbody">
	<nav>
		<ul>
			<li><a href="{% url 'inicio' %}" class="logoPruebaTIC">PruebaTIC</a></li>
		</ul>

		<ul>
			<li><a href="#" class="btn btnConfirmar">Registrarme</a></li>
			<li><a href="#" class="btn btnEnviar">Ingresar</a></li>
		</ul>

	</nav>
	{% block contentSpecial %}

	{% endblock  %}
	<section class="contentWidth">
		{% block content %}

		{% endblock  %}
	</section>
	<footer>
		<ul>
			<li>Desarrollado por
				<a class="linkWithoutDecoration logostzef" href="http://elkinforero.com/" target="blank" >
					<span class="stzef">Elkin Forero</span>
				</a>
			</li>
			<li>Designed by
				<a href="http://www.freepik.com" class="linkWithoutDecoration logostzef" target="blank">Freepik</a>

			</li>
		</ul>
	</footer>
</body>

</html>
