<!DOCTYPE html>
<html lang="es" class="heightCienPorCien">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
	<link rel="stylesheet" href="/public/min/css/styles.css">

	<title>
		{% block title %}{% endblock title %}
	</title>
</head>

<body class="totalbody">
	<nav>
		<ul>
			<li><a href="{% url 'inicio' %}" class="logoPruebaTIC"><h1>PruebasTIC</h1></a></li>
		</ul>

		<ul>
			{% if user.is_authenticated %}

			<li>
				<p>Hola, <strong>{{ user.username }}</strong>
					{% if user.is_superuser%}
					<strong> - SuperUser</strong>
				</p>
				<p><a href="{% url 'admin' %}">Administacion</a></p>
				{% endif %}
			</li>
			<li><a href="{% url 'logout' %}" class="btn btnCancelar">Salir</a></li>

			{% else %}

			<li><a href="{% url 'register' %}" class="btn btnConfirmar">Registrarme</a></li>
			<li><a href="{% url 'login' %}" class="btn btnEnviar">Ingresar</a></li>

			{% endif %}
		</ul>

	</nav>
	{% block contentSpecial %}

	{% endblock  %}
	<section class="contentWidth">
		{% block content %}

		{% endblock  %}
	</section>
	<footer>
		<ul>
			<li>Desarrollado por
				<a class="linkWithoutDecoration logostzef" href="http://elkinforero.com/" target="blank" >
					<span class="stzef">Elkin Forero</span>
				</a>
			</li>
			<li>Designed by
				<a href="http://www.freepik.com" class="linkWithoutDecoration logostzef" target="blank">Freepik</a>

			</li>
		</ul>
	</footer>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

</html>
