<!DOCTYPE html>
<html lang="es" class="heightCienPorCien">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
	<link rel="stylesheet" href="/public/min/css/styles.css">
	<title>
		{% block title %}{% endblock title %}
	</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
</head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
<body class="totalbody">
	<nav>
		<ul>
			<li><a href="{% url 'inicio' %}" class="logoPruebaTIC">PruebaTIC Admin</a></li>
		</ul>

		<ul>
			<p>Hola, <strong>{{ user.username }}</strong></p>
		</ul>

	</nav>
	{% block contentSpecial %}

	{% endblock  %}

	<section class="contentWidth">
		{% block content %}

		{% endblock  %}
	</section>
	<footer>
		<ul>
			<li>Desarrollado por
				<a class="linkWithoutDecoration logostzef" href="http://elkinforero.com/" target="blank" >
					<span class="stzef">Elkin Forero</span>
				</a>
			</li>
			<li>Designed by
				<a href="http://www.freepik.com" class="linkWithoutDecoration logostzef" target="blank">Freepik</a>

			</li>
		</ul>
	</footer>
</body>


</html>
