{% extends "template.html" %}

{% block title %}
Competencias
{% endblock title %}

{% block contentSpecial %}
<section class="backgroundImage">
	<header>

		<h1>Competencias  en Tic</h1>
		<section>
			<article>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque praesentium deserunt beatae itaque maxime sunt aspernatur veritatis, quia porro natus saepe aut dolorum, nihil eveniet ad aliquam deleniti quae accusantium.</p>
				<button>Apropiacion</button>
			</article>
			<article>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae aspernatur cupiditate veritatis fuga dolores error, at illo iusto rem asperiores quis quibusdam id corporis explicabo minima quaerat sequi perferendis ut.</p>
				<button>Solucion</button>
			</article>
		</section>
	</header>
</section>

{% endblock  %}
{% block content %}
{% endblock  %}
