{% extends "template.html" %}
{%block content%}

<section class="alerts"></section>

<form action="" class="form-horizontal" id="registration">
	<legend>Registrate</legend>
	<div class="form-group">
		<label for="" class="col-sm-4 control-label">Usuario</label>
		<div class="col-sm-7">
			<input type="text" class="form-control" name="usuario" id="" placeholder="Usuario" required>
		</div>
	</div>
	<div class="form-group">
		<label for="" class="col-sm-4 control-label">Nombre</label>
		<div class="col-sm-7">
			<input type="text" class="form-control" name="nombre" id="" placeholder="Nombre" required>
		</div>
	</div>
	<div class="form-group">
		<label for="" class="col-sm-4 control-label">Apellido</label>
		<div class="col-sm-7">
			<input type="text" class="form-control" name="apellido" id="" placeholder="Apellido" required>
		</div>
	</div>
	<div class="form-group">
		<label for="" class="col-sm-4 control-label">Contraseña</label>
		<div class="col-sm-7">
			<input type="password" class="form-control" name="password" id="" placeholder="Password" required>
		</div>
	</div>
	<div class="form-group">
		<label for="confirmPassword" class="col-sm-4 control-label">Confirmar Contraseña</label>
		<div class="col-sm-7">
			<input type="password" class="form-control" name="confirmPassword" id="" placeholder="Password" required>
		</div>
	</div>
	<div class="form-group">
		<label for="" class="col-sm-4 control-label">Email</label>
		<div class="col-sm-7">
			<input type="email" class="form-control" name="email" id="" placeholder="Email" required>
		</div>
	</div>
	<div class="form-group">
		<label for="" class="col-sm-4 control-label">Fecha de Nacimiento</label>
		<div class="col-sm-7">
			<input type="date" class="form-control" name="fNaci" id="" placeholder="Fecha de Nacimiento" required>
		</div>
	</div>
	<div class="form-group">
		<label for="" class="col-sm-4 control-label">Residencia</label>
		<div class="col-sm-7">
			<select name="residencia" class="form-control">
				<option value="G">Girardot</option>
				<option value="R">Ricaurte</option>
				<option value="O">Otro</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-7">
			<button type="submit" class="btn btn-success">Registrarse</button>
		</div>
	</div>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script>
	var form = document.querySelector("#registration")
	form.addEventListener("submit", register)
	function register(event){
		event.preventDefault()

		var alert = $('<div>',{
			'class':'alert'
		}).append($('<a>',{
			'href':'#',
			'class':'close',
			'data-dismiss':'alert',
			'aria-label':'close',
			'html':'&times;'
		})).append('<p>')

		if (form.password.value == form.confirmPassword.value) {
			$.ajax({
				url: "/registerNewUser/",
				type:"POST",
				async: false,
				contentType: 'application/x-www-form-urlencoded',
				data:$('form').serialize(),
				dataType: 'text',
				success: function(result){
					response = JSON.parse(result)
					$(".alerts").html("")
					alert.children("p").html(response.message)
					if (response.code == 1){
						alert.addClass("alert-success")
						setTimeout(function(){
							window.location.href = "/login"
						}, 2000)
					}else if (response.code == 0) {
						alert.addClass("alert-danger")
					}
					$(".alerts").append(alert)

				}
			});
		}else{
			alert.children("p").html("Las contraseñas no coinciden")
			alert.addClass("alert-danger")
			$(".alerts").append(alert)
		}

	}
</script>
{%endblock%}
