.personaje
	max-width 500px
	display block
	margin 0 auto
	.vendedor
		max-width 50%
	.computador
		max-width 49%
.opciones
	width 50%
	margin 0 auto
	display flex
	border-bottom: 1px solid gray;
	margin-bottom: 19px
	justify-content: center
	.opcion
		width 60px
		margin 10px
		img
			width 100%
widthTiangle = 20px
colorTag  = #0089E0
.dragInit
	border 3px dashed gray
	box-sizing border-box
	border-radius 5px
.inZoneDrop
	opacity 0.5
#zonetags_js
	display block
	margin 10px 0

.tag
	margin: 5px
	padding: 5px
	background-color: colorTag
	color: white
	font-weight: bold
	border-top-right-radius 10px
	border-bottom-right-radius 10px
	position relative
	margin-left: 20px;
	&:after
		content: '';
		display: inline-block;
		width: 5px;
		height: 5px;
		background-color: #fff;
		position: absolute;
		left: -13px;
		top: 11px;
		border-radius: 50%;
	&:before
		content ''
		display inline-block
		border-top: 14px solid transparent;
		border-bottom: 13px solid transparent;
		border-right: widthTiangle solid colorTag;
		position: absolute;
		left: - widthTiangle;
		top: 0

.delete
	margin-left 10px
	cursor pointer
	color red
.disabled
	filter grayscale(100%)
	-webkit-filter grayscale(100%)




