.contenedorPath
	width 500px
	height 300px
	display flex
	.inicioRecorrido
		width 100px
		background-color green
	.recorrido
		width 300px
	.finRecorrido
		width 100px
		background-color red
.objeto
	width 100px
	height 100px
	background-color blue
	position absolute
	top 0
	left 0
